# Q.1 Mention the different types of Data Structures in Pandas ?

In [1]:
# Series: A Series is a one-dimensional array-like object containing a sequence of values and an associated array of datalabels 
# called its index. It can hold any data type.
# 
# DataFrame: A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar 
# to a spreadsheet or SQL table, or a dictionary of Series objects. It is the most commonly used data structure in Pandas.

# Q.2 What are the significant features of the pandas library ?

In [2]:
# DataFrame: The DataFrame object allows for easy handling of structured data, similar to a spreadsheet or SQL table, with rows 
# and columns.
# 
# Data Manipulation: Pandas provides a wide range of functions for data manipulation, including filtering, sorting, grouping, 
# joining, and reshaping data.
# 
# Missing Data Handling: It provides robust methods for dealing with missing data, allowing users to either remove, fill, or
# interpolate missing values.
# 
# Data Visualization: While not a core feature of Pandas itself, it integrates well with other Python libraries like Matplotlib 
# and Seaborn for data visualization.
# 
# High Performance: Pandas is designed for performance and scalability, with many operations optimized for speed.

# Q.3 How can we create a copy of the series in Pandas ?

In [3]:
import pandas as pd

In [4]:
a = pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
copied=a.copy()
copied

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Q.4 Explain Categorical data in Pandas ?

In [6]:
# Categoricals are a pandas data type corresponding to categorical variables in statistics. A categorical variable takes on a 
# limited, and usually fixed, number of possible values

In [7]:
b = pd.Series(["Anu", "Ben", "Anu", "Chandu", "Ben", "Anu"])
b

0       Anu
1       Ben
2       Anu
3    Chandu
4       Ben
5       Anu
dtype: object

In [8]:
categorical_data = pd.Categorical(b)
categorical_data

['Anu', 'Ben', 'Anu', 'Chandu', 'Ben', 'Anu']
Categories (3, object): ['Anu', 'Ben', 'Chandu']

# Q.5 Explain the Reindexing in pandas along with its parameters ?

In [9]:
# Reindexing is used to change the index of the rows and columns of the DataFrame. We can reindex the single or multiple rows
# by using the reindex() method. Default values in the new index are assigned NaN if it is not present in the DataFrame.

In [10]:
b = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
b

a    1
b    2
c    3
dtype: int64

In [13]:
new_index = ['a', 'b', 'd', 'e']
reindexed = b.reindex(new_index)
reindexed

a    1.0
b    2.0
d    NaN
e    NaN
dtype: float64

# Q.6 Explain Multi-Indexing in pandas ?

In [14]:
# Multi-indexing, also known as hierarchical indexing, is a feature in Pandas that enables you to work with higher-dimensional 
# data in a two-dimensional DataFrame structure. It allows you to index and select data based on multiple levels of row and 
# column labels, providing a way to represent and analyze data that has multiple dimensions or categorical hierarchies.

In [15]:
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
index = pd.MultiIndex.from_tuples([('Group1', 'A'), ('Group1', 'B'), ('Group2', 'A'), ('Group2', 'B')],
                                  names=['Group', 'Label'])
columns = pd.MultiIndex.from_tuples([('X', 'Value'), ('Y', 'Value'), ('Z', 'Value')],
                                     names=['Dimension', 'Measure'])

df = pd.DataFrame(data, index=index, columns=columns)
print(df)

Dimension        X     Y     Z
Measure      Value Value Value
Group  Label
Group1 A       NaN   NaN   NaN
       B       NaN   NaN   NaN
Group2 A       NaN   NaN   NaN
       B       NaN   NaN   NaN

# Q.7 How can we convert Series to dataframe ?

In [16]:
c= pd.Series([1, 2, 3, 4, 5],name="col")
df = c.to_frame()
print(df)

   col
0    1
1    2
2    3
3    4
4    5

# Q.8 How can we convert Dataframe to Numpy Array ?

In [17]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
numpy_array = df1.values
print(numpy_array)

[[1 4]
 [2 5]
 [3 6]]

# Q.9 How can we convert Dataframe to an excel file ?

In [42]:
import pandas as pd

In [45]:
d=pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
d

   A  B
0  1  4
1  2  5
2  3  6

In [49]:
e=d.to_csv("C:\\Users\\MY LAPPY HOUSE\\Downloads\\file1.csv")
e

# Q.10 How would you iterate over rows in a dataframe in pandas ?

In [33]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
for i in range(len(df)):
    print(f'Row index: {i}')
    print('Row values:')
    print(df.iloc[i])

Row index: 0
Row values:
A    1
B    4
Name: 0, dtype: int64
Row index: 1
Row values:
A    2
B    5
Name: 1, dtype: int64
Row index: 2
Row values:
A    3
B    6
Name: 2, dtype: int64